doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title How to Czar
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  body
    div
      div
        nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/schedule') Schedule
            li
              a(href='/czar') Czar
            li
              a(href='/newUser') Add New User
            li
              a(href='/preferences') Preferences
            li
              a(href='/contact') Contact Info
            li
              a(href='external') External Links
            li
              a(href='/emergency') Emergency
            li
              a(href='/logout') Logout

      br
      .container.theme-showcase(role='main')

        h1 What does the Czar do

        p The Czar's job is to look at all of the user's preferences and create a schedule for the week. When you are creating the schedule, you have to balance many different competing priorities. Here is an ordered list of priorities to consider:
        ol
          li Individual constraints come first. Once in a while if you really really want to violate a constraint, email/call the person to check if that is ok.
          li Minimize number of cars required.
          li Individual preferences come next (e.g. preferences to leave a certain time or to drive or not to drive).
          li Balance cumulative driving statistics so that everyone has roughly the same driving percentage. (Refer to the statistics page for the semester.)
          li Avoid someone driving home alone from 3:30-6:30pm because of heavy traffic in the late afternoon/evening to Pasadena. That allows the person to use carpool lane.
          li Avoid someone driving too many times in one week if possible.
          li Group people who are from the same campus for convenience of drop off in AM/pick up in PM.
          li Cars can go solo in the morning and that saves a trip to the carpool spot, so try to let cars go solo in the AM.
          li Balance cars so they are not too squished (some cars can seat 5 comfortably).

        p Many people prefer to start with the most restrictive times and work forward from that.  It is important to pay attention to the drivers, as the same person needs to be the driver for both AM and PM.




