doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Pasadena Carpool invalid login
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  body
    div
      div
        nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
          ul.nav.navbar-nav
            li
              a Pasedena Carpool
            
      br
      .container.theme-showcase(role='main')
        h1 Authentification Failed

        p We were not able to find a user associated with this email adress, please make sure you are signed into the correct email. To do this go to google.com and make sure you are signed into the account associated with you Carpool account.

        a(class='button', href="/auth/google") Login with Google