//- Should be given a list of cars:
//- var cars = [ { 'driver':'Louise', 'AM':{ 'time':'10:30 AM', 'passengers':['George', 'Alex', 'Johanna'] }, 'PM':{'time':'4:45 PM', 'passengers':[]}} ]
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Pasadena Carpool Schedule
    script(scr='js/selectcars.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='css/schedulestyle.css')
    link(rel='stylesheet', href='css/cartable.css')
    script(src='dynamic/allPreferences.js')
    script(src='dynamic/currentUser.js')
    script(src='js/makecartables.js')
    script(src='js/schedule.js')
    - if (thisWeek == true)
      - console.log("in the if statement")
      script(src='dynamic/thisWeekTempCar.js')
      script(src='dynamic/thisweekSchedule.js')
    - else
      - console.log("in the if statement")
      script(src='dynamic/nextweekSchedule.js')
      script(src='dynamic/nextWeekTempCar.js')
    
  body
    div
      div
        nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li.active
              a(href='/schedule') Schedule
            li
              a(href='/czar') Czar
            li
              a(href='/newUser') Add New User
            li
              a(href='/preferences') Preferences
            li
              a(href='/contact') Contact Info
            li
              a(href='/statistics') Statistics
            li
              a(href='external') External Links
            li
              a(href='/emergency') Emergency
            li
              a(href='/logout') Logout
      br
      .container.theme-showcase(role='main')
        div(class='dateDisplaySelection')
          div(class='dateDisplay')
            h1 Schedule for the week of: #{week}
          div(class='dropdown')
            button(class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown") View Schedule For
              span(class="caret")
            
            ul(class="dropdown-menu")
              li 
                a(href="/scheduleNext") Next Week
              li 
                a(href="/scheduleCurrent") This Week
        div#yourcars
          h1 Your Cars
        br(style="clear:both;")
        div#allcars
          h1 All Cars
        br(style="clear:both;")
        div(class = "buttons")#editButton
          // make a new car box
          button(class = "btn btn-primary", type="button", onClick='makeEditBoxesVisible();') Edit Schedule
        div(class = "buttons")#saveEditsButton
          // create a save edits button that is by default not displayed
          button(class = "btn btn-primary", type="button", onClick='saveSchedule();') Save Schedule

