body {
  margin-bottom: 130px;
}

.popover {
    white-space: pre-line;    
}

table.timetable {
  border-collapse: separate;
}

table.timetable tr.timeview td.name {
  height: 1.5em;
  width: 1.2em;
  text-align: right;
  white-space: nowrap;
}

table.timetable tr.timeview td.driveStatus {
  height: 1.5em;
  width: 10em;
  padding: 0 10px;
}

table.timetable tr.timeview td {
  height: 1.5em;
  width:  1.2em;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

table.timetable tr.timeview td[leftLine] {
  border-left: 1px solid #a0a0a0;
}

table.timetable tr.timeview td[selected="false"] {
  background-color: #e0e0e0;
}

table.timetable tr.timeview td[selected="true"] {
  background-color: #66ccff;
}

table.timetable tr.timeview[carstatus="driver"] td[selected="true"]{
  background-color: #b31aff
}

table.timetable tr.timeview[carstatus="passenger"] td[selected="true"]{
  background-color: #b38600
}

table.timetable tr.timeview[inCar = 'true'] td[selected="true"] {
  background-color: #51bd5e;
}

table.timetable tr.timeview td[selected="true"][mousedover="true"] {
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

table.timetable tr.timeview td[selected="true"][carstatus="driver"] {
  border-style: solid;
  border-color: red;
  border-width: 3px;
}

table.timetable tr.timeview td[selected="true"][carstatus="passenger"] {
  border-style: solid;
  border-color: orange;
  border-width: 3px;
}


table.timetable tr.timetext td.hour {
  font-size: 130%;
}

table.timetable tr.timetext td.halfhour {
  font-size: 80%;
}

table.carTable tr td{
  border-style: solid;
  border-color: black;
}

table.carTable[selected="true"] tr td{
  border-style: solid;
  border-color: red;

}
table.carTable {
  float: left;

}

table + table{
  margin-left: 10px;
  margin-bottom: 10px;
}

#modifyCarsInput {
  width:100%;
  height:auto;
  margin:5px 0;
  padding:3px;
}
