body {
  margin-bottom: 130px;
}

table.timetable {
  border-collapse: separate;
}

div#alltimeinputs {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table.timetable tr.timeinput td, table.timetable tr.timeview td {
  height: 1.5em;
  width:  1.2em;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

table.timetable td.name {
  height: 1.5em;
  width: 1.2em;
  text-align: right;
  white-space: nowrap;
}

table.timetable tr.timeinput td {
  border-bottom: 2px solid black;
}

table.timetable tr.timeview td.driveStatus {
  height: 1.5em;
  width: 10em;
  padding: 0 10px;
}

table.timetable tr.timeinput td[leftLine], table.timetable tr.timeview td[leftLine] {
  border-left: 1px solid #a0a0a0;
}

table.timetable tr.timeinput td[selected="false"], table.timetable tr.timeview td[selected="false"] {
  background-color: #e0e0e0;
}

table.timetable tr.timeinput td[selected="true"], table.timetable tr.timeview td[selected="true"] {
  background-color: #66ccff;
}

table.timetable tr.timetext td.hour {
  font-size: 130%;
}

table.timetable tr.timetext td.halfhour {
  font-size: 80%;
}
