.userStats {
    margin: 20px;
    padding-bottom: 25px;
}

.weekbyweekstats{
    margin: 20px;
}

td#leftJustify{
	text-align: left;
}

td#centerJustify{
	text-align: center;
}

td {
  padding: 0px 10px;
}

th {
	padding: 0px 5px;	
}
